.venv/
__pycache__
server/modules/assets/outputs/

weights/FastSAM-x.pt
weights/yolo11x.pt

server/res/class_outputs/*
server/res/seg_outputs/fastsam/*
server/res/seg_outputs/mask2former/*
server/res/seg_inputs/*